{
    "root": false,
    "env": {
        "browser": true,
        "es2021": true,
        "node": true
    },
    "extends": [
        "@nuxtjs/eslint-config-typescript",
        "plugin:nuxt/recommended"
    ],
    "globals": {
        "$nuxt": true
    },
    "rules": {
        "vue/multi-word-component-names": [
            "error",
            {
                "ignores": [
                    "index",
                    "default",
                    "error"
                ]
            }
        ]
    },
    "ignorePatterns": [
        ".nuxt/*",
        ".output/*",
        "dist/*",
        "src/api/*"
    ]
}
